header {
    position: relative;
    background-color: var(--bs-primary);
    margin-bottom: 2em;
    border-bottom: 3px solid var(--bs-tertiary);

    .navbar-brand {
        line-height: 0;
        color: white;

        img {
            max-height: 65px;
        }

        svg {
            height: 55px;
            object-fit: contain;
            color: white;
        }
    }

    .site-heading {
        display: inline-flex;
        text-decoration: none;
    }

    .desktop-nav {
        display: none;
        align-items: center;

        @media only screen and (min-width: 992px) {
            display: flex;
            flex-grow: 1;
        }

        .nav-link {
            --bs-navbar-nav-link-padding-x: 0.75em;
        }

        .navbar-lang {
            margin-left: 1em;
        }

        @media only screen and (min-width: 1200px) {
            .nav-link {
                --bs-navbar-nav-link-padding-x: 1em;
            }

            .navbar-lang {
                margin-left: 2em;
            }
        }
    }

    @media only screen and (min-width: 992px) {
        .desktop-nav {
            display: flex;
            flex-grow: 1;
        }
    }

    .navbar-nav {
        justify-content: end;
        align-items: center;
        --bs-navbar-nav-link-padding-x: 1em;
    }

    .navbar-socials {
        height: 4em;
        justify-content: center;
        align-items: center;
        writing-mode: vertical-lr;
        display: inline-flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 0 0 1.5em;

        li {
            width: fit-content;
            writing-mode: horizontal-tb;
        }

        .nav-link {
            --bs-nav-link-padding-x: 0.25em;
            --bs-nav-link-padding-y: 0.25em;
        }
    }

    .navbar-nav,
    .navbar-socials {
        .nav-link {
            color: white;
            font-weight: 500;
            text-align: center;
        }

        .nav-link.active {
            color: var(--bs-light);
        }

        .nav-link:hover {
            color: var(--bs-highlights);
        }
    }

}

#home,
#accueil {
    @media only screen and (min-width:992px) {
        #mainnav .navbar-lang {
            display: none;
        }

        #mainnav nav {
            .navbar-brand {
                display: none;
            }

            .navbar-nav {
                justify-content: center;
                gap: 3em;
            }

            .navbar-socials {
                writing-mode: inherit;
                height: auto;
                padding: 0 1rem;

                li {
                    margin: 0 0.2em;
                }
            }
        }
    }
}

.offcanvas-header {
    background-color: var(--bs-primary);
    --bs-heading-color: white;

    a {
        text-decoration: none;
    }
}

.offcanvas {

    .navbar-lang {
        margin: 1em 0em;
    }

    .navbar-socials {
        font-size: 1.2em;

    }

}