.blog-entries {
  .blog-entry {
    margin-bottom: 2em;
    max-width: 900px;

    .top-link {
      font-size: 0.85em;
    }
  }
}

.blog-pagination {
  margin-top: 2em;
}

.blog-sidebar {
  order: 6;

  .blog-nav {
    padding: 0;
    position: sticky;
    top: 1em;
    z-index: 98;

    h2 {
      margin-bottom: 0.5em;
    }
  }

  .blog-index {
    font-size: 0.85em;
    --bs-list-group-active-bg: var(--bs-tertiary);
    --bs-list-group-active-border-color: var(--bs-tertiary);
  }

  .blog-index a {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .list-group-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &,
    a,
    span.badge {
      text-decoration: none;
    }

    &,
    a,
    span.badge {
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    span.badge {
      margin-left: 0.3em;
    }

    &.active a {
      color: white;
    }

    &.active span.badge {
      background-color: white !important;
      color: var(--bs-secondary) !important;
    }
  }
}