.blog-entries {
  .blog-entry {
    margin-bottom: 2em;
    max-width: 900px;

    .top-link {
      font-size: 0.85em;
    }
  }
}

.blog-pagination {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  justify-content: center;
  display: flex;

  .pagination {
    --bs-pagination-disabled-bg: #ccc;
  }
}

@media only screen and (min-width: 992px) {
  .blog-entries .blog-pagination {
    display: none;
  }
}


.blog-sidebar {
  @media only screen and (min-width:992px) {
    order: 6;
  }

  .blog-nav {
    padding: 0;
    position: sticky;
    top: 1em;
    z-index: 98;

    h2 {
      margin-bottom: 0.5em;
    }
  }

  .blog-index {
    font-size: 0.85em;
    --bs-list-group-active-color: var(--bs-list-group-color);
    --bs-list-group-active-bg: var(--bs-list-group-bg);
    --bs-list-group-active-border-color: var(--bs-list-group-border-color);
  }

  .blog-index a {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .list-group-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &,
    a,
    span.badge {
      text-decoration: none;
    }

    &,
    a,
    span.badge {
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    span.badge {
      margin-left: 0.3em;
    }

    &.active a {
      color: var(--bs-list-group-active-color);
    }
  }

  @media only screen and (min-width:992px) {
    .blog-index {
      --bs-list-group-active-color: white;
      --bs-list-group-active-bg: var(--bs-tertiary);
      --bs-list-group-active-border-color: var(--bs-tertiary);
    }

    .list-group-item.active span.badge {
      background-color: white !important;
      color: var(--bs-secondary) !important;
    }
  }
}